My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hDlbPzfqLWn3zeuTghUDuU33PV-3mKwBJHIGUJS2-vQ",
          "mode": "list",
          "cachedResultName": "whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hDlbPzfqLWn3zeuTghUDuU33PV-3mKwBJHIGUJS2-vQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hDlbPzfqLWn3zeuTghUDuU33PV-3mKwBJHIGUJS2-vQ/edit#gid=0"
        },
        "options": {}
      },
      "id": "9b0877a6-6066-448f-90c0-7dd3b979d19d",
      "name": "Read Reminder Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y0PkxrJQeL91luBO",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nreturn $input.all().map(item => {\n\n  const dateStr = item.json[\"event date\"];   // example: \"14-05-2026\"\n  const [dd, mm, yyyy] = dateStr.split(\"-\").map(Number);\n\n  const eventDate = new Date(yyyy, mm - 1, dd);\n  eventDate.setHours(0, 0, 0, 0);\n\n  const reminderDate = new Date(eventDate);\n  reminderDate.setDate(reminderDate.getDate() - 2);\n  reminderDate.setHours(0, 0, 0, 0);\n\n  item.json.shouldSend =\n    reminderDate.getTime() === today.getTime() &&\n    item.json.status.toLowerCase() === \"pending\";\n\n  return item;\n});"
      },
      "id": "50c67ef6-2d67-461e-9477-fe4d0677de3b",
      "name": "Check Reminder Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldSend }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "9cd653ab-fe3d-40c3-82b0-29013b1cf3cf"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7cd9ff0e-584c-44fa-b6e5-bfea60a38c3f",
      "name": "Filter Rows to Send",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        816,
        144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hDlbPzfqLWn3zeuTghUDuU33PV-3mKwBJHIGUJS2-vQ",
          "mode": "list",
          "cachedResultName": "whatsapp",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hDlbPzfqLWn3zeuTghUDuU33PV-3mKwBJHIGUJS2-vQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hDlbPzfqLWn3zeuTghUDuU33PV-3mKwBJHIGUJS2-vQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "sent",
            "row_number": "={{ $node[\"Read Reminder Data\"].json[\"row_number\"] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event date",
              "displayName": "event date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "615dc66f-50e9-45f6-a7c8-e6473ea00148",
      "name": "Update Status to Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y0PkxrJQeL91luBO",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACbd89bbfe32254917785927612875e603/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:+916363604031"
            },
            {
              "name": "Body",
              "value": "=hi  {{ $json.name }}, reminder:{{ $json.message }}, event:{{ $json['event date'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        144
      ],
      "id": "bdeb683f-4db7-4257-b2e8-c05d7346f230",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "PPsOVSLHLs5qoDXD",
          "name": "Unnamed credential 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 42
            }
          ]
        }
      },
      "id": "9a1454d8-9cc2-471f-bb95-4956930dc0d5",
      "name": "Timings",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Read Reminder Data": {
      "main": [
        [
          {
            "node": "Check Reminder Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reminder Date": {
      "main": [
        [
          {
            "node": "Filter Rows to Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Rows to Send": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update Status to Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timings": {
      "main": [
        [
          {
            "node": "Read Reminder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d782aa9b-831b-4710-a73b-d1faf82b8296",
  "meta": {
    "instanceId": "3bf72bcdd6a0f61423f258ccc507a2809d89fdd2aede34ad919fdaef19f2279e"
  },
  "id": "3t9r9W9K0maOX49I",
  "tags": []
}